{
	"useTabs": true,
	"plugins": ["prettier-plugin-apex"],
	"apexInsertFinalNewline": false,
	"trailingComma": "none",
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { 
				"parser": "lwc", 
				"tabWidth": 4,
				"bracketSameLine": true,
				"printWidth": 160
			}
		},
		{
			"files": "**/lwc/**/*.js",
			"options": { 
				"tabWidth": 4,
				"bracketSpacing": true,
				"printWidth": 160
			}
		},
		{
			"files": "*.{cmp,page,component}",
			"options": {
				"parser": "html",
				"tabWidth": 4,
				"bracketSameLine": true,
				"printWidth": 160
			}
		},
		{
			"files": "**/aura/**/*.js",
			"options": { 
				"tabWidth": 4,
				"bracketSpacing": true,
				"printWidth": 160
			}
		},
		{
			"files": "*.{cls,apex,trigger}",
			"options": {
				"tabWidth": 4,
				"bracketSpacing": true,
				"printWidth": 160
			}
		}
	]
}